// main: ../style.less

.intro {
    margin-top: 150px;
}


.intro__btn {
    margin: 20px 0;
    display: flex;
    
}


.intro__social {
    margin: 5rem 0;
    display: flex;
    
}
.intro__link {
    margin-right: 20px;
    color: @blue;
    font-size: 1.6rem;
    font-weight: 600;
}
