// main: ../style.less

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    
    @media @tablet {
        margin: 0;
    }
}

.portfolio_col {
    flex-basis: 33.3333%;
    padding: 1rem;
    
    a {
        color: @black;
    }
    @media @tablet {
        flex-basis: 50%;
    }
    @media @mobile {   
        flex-basis: 100%;
    }
}