// main: ../style.less

.works {
    display: flex;
    margin-top: 4rem;
    
}

.works__nav {
    margin-top: 2rem;
}
.works__nav-link {
    display: inline-block;
    margin-right: 1rem;
    color: @black;
    font-size: .8rem;
    
    &:hover {
        text-decoration: underline;
    }
}

.works__portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;

}
.works__site {
    overflow: hidden;   
    border-radius: 5px;
    border: 1px solid fade(@gray, 20%);
    
    display: flex;
    flex-direction: column;
    
    
    margin-bottom: 1rem;
    &:hover {
        box-shadow: 0px 1px 20px fade(@black, 30%);
    }
}

.works__image {
    max-width: 100%;
    height: auto;
}
.site__description {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 0;
}